
    <style>
      .form-all:before { background: linear-gradient();}
    </style>
 <ul class="form-section page-section">
      <li id="cid_1" class="form-input-wide" data-type="control_head">
        <div class="form-header-group  header-default">
          <div class="header-text httac htvam">
            <h2 id="header_1" class="form-header" data-component="header">
              Dinner Appointment Form
            </h2>
          </div>
        </div>
      </li>
      <li class="form-line" data-type="control_fullname" id="id_3">
        <label class="form-label form-label-top form-label-auto" id="label_3" for="first_3"> Client </label>
        <div id="cid_3" class="form-input-wide" data-layout="full">
          <div data-wrapper-react="true">
            <span class="form-sub-label-container" style="vertical-align:top" data-input-type="first">
              <input type="text" id="first_3" name="q3_client[first]" class="form-textbox" data-defaultvalue="" autocomplete="section-input_3 given-name" size="10" value="" data-component="first" aria-labelledby="label_3 sublabel_3_first">
              <label class="form-sub-label" for="first_3" id="sublabel_3_first" style="min-height:13px" aria-hidden="false"> First Name </label>
            </span>
            <span class="form-sub-label-container" style="vertical-align:top" data-input-type="last">
              <input type="text" id="last_3" name="q3_client[last]" class="form-textbox" data-defaultvalue="" autocomplete="section-input_3 family-name" size="15" value="" data-component="last" aria-labelledby="label_3 sublabel_3_last">
              <label class="form-sub-label" for="last_3" id="sublabel_3_last" style="min-height:13px" aria-hidden="false"> Last Name </label>
            </span>
          </div>
        </div>
      </li>
      <li class="form-line" data-type="control_phone" id="id_4">
        <label class="form-label form-label-top form-label-auto" id="label_4" for="input_4_full"> Phone Number </label>
        <div id="cid_4" class="form-input-wide" data-layout="half">
          <span class="form-sub-label-container" style="vertical-align:top">
            <input type="tel" id="input_4_full" name="q4_phoneNumber[full]" data-type="mask-number" class="mask-phone-number form-textbox validate[Fill Mask]" data-defaultvalue="" autocomplete="section-input_4 tel-national" style="width:310px" data-masked="true" value="" placeholder="(000) 000-0000" data-component="phone" aria-labelledby="label_4 sublabel_4_masked" inputmode="text" maskvalue="(###) ###-####">
            <label class="form-sub-label" for="input_4_full" id="sublabel_4_masked" style="min-height:13px" aria-hidden="false"> Please enter a valid phone number. </label>
          </span>
        </div>
      </li>
      <li class="form-line" data-type="control_email" id="id_5">
        <label class="form-label form-label-top form-label-auto" id="label_5" for="input_5"> Email </label>
        <div id="cid_5" class="form-input-wide" data-layout="half">
          <span class="form-sub-label-container" style="vertical-align:top">
            <input type="email" id="input_5" name="q5_email" class="form-textbox validate[Email]" data-defaultvalue="" style="width:310px" size="310" value="" data-component="email" aria-labelledby="label_5 sublabel_input_5">
            <label class="form-sub-label" for="input_5" id="sublabel_input_5" style="min-height:13px" aria-hidden="false"> example@example.com </label>
          </span>
        </div>
      </li>
      <li class="form-line" data-type="control_divider" id="id_6">
        <div id="cid_6" class="form-input-wide" data-layout="full">
          <div class="divider" aria-label="Divider" data-component="divider" style="border-bottom-width:1px;border-bottom-style:solid;border-color:#e6e6e6;height:1px;margin-left:0px;margin-right:0px;margin-top:5px;margin-bottom:5px">
          </div>
        </div>
      </li>
       <li class="form-line" data-type="control_checkbox" id="id_7">
        <label class="form-label form-label-top form-label-auto" id="label_7" for="input_7"> By checking the following boxes, confirm that you willingly consent to the following terms and conditions: </label>
        <div id="cid_7" class="form-input-wide" data-layout="full">
          <div class="form-single-column" role="group" aria-labelledby="label_7" data-component="checkbox">
            <span class="form-checkbox-item" style="clear:left">
              <span class="dragger-item">
              </span>
              <input type="checkbox" aria-describedby="label_7" class="form-checkbox" id="input_7_0" name="q7_byChecking[]" value="I give permission to my therapist to perform the waxing procedure we have discussed and will hold her and her staff harmless from any liability that may result from this treatment.">
              <label id="label_input_7_0" for="input_7_0"> I give permission to my therapist to perform the waxing procedure we have discussed and will hold her and her staff harmless from any liability that may result from this treatment. </label>
            </span>
            <span class="form-checkbox-item" style="clear:left">
              <span class="dragger-item">
              </span>
              <input type="checkbox" aria-describedby="label_7" class="form-checkbox" id="input_7_1" name="q7_byChecking[]" value="I recognize that the results are dependent upon age, skin condition, and lifestyle and that there is the possibility I may require further treatments of the treated areas to obtain the expected results at an additional cost.">
              <label id="label_input_7_1" for="input_7_1"> I recognize that the results are dependent upon age, skin condition, and lifestyle and that there is the possibility I may require further treatments of the treated areas to obtain the expected results at an additional cost. </label>
            </span>
            <span class="form-checkbox-item" style="clear:left">
              <span class="dragger-item">
              </span>
              <input type="checkbox" aria-describedby="label_7" class="form-checkbox" id="input_7_2" name="q7_byChecking[]" value="If I have any concerns, I will address these with my skin therapist.">
              <label id="label_input_7_2" for="input_7_2"> If I have any concerns, I will address these with my skin therapist. </label>
            </span>
            <span class="form-checkbox-item" style="clear:left">
              <span class="dragger-item">
              </span>
              <input type="checkbox" aria-describedby="label_7" class="form-checkbox" id="input_7_3" name="q7_byChecking[]" value="I have read and understand the post-treatment home care instructions and understand how important it is to follow all instructions given to me for post-treatment care.">
              <label id="label_input_7_3" for="input_7_3"> I have read and understand the post-treatment home care instructions and understand how important it is to follow all instructions given to me for post-treatment care. </label>
            </span>
          </div>
        </div>
      </li> 
      <!-- <li class="form-line" data-type="control_checkbox" id="id_8">
        <label class="form-label form-label-top form-label-auto" id="label_8" for="input_8"> By checking the following boxes, confirm that you willingly consent to having the treatment during the COVID-19 pandemic: </label>
        <div id="cid_8" class="form-input-wide" data-layout="full">
          <div class="form-single-column" role="group" aria-labelledby="label_8" data-component="checkbox">
            <span class="form-checkbox-item" style="clear:left">
              <span class="dragger-item">
              </span>
              <input type="checkbox" aria-describedby="label_8" class="form-checkbox" id="input_8_0" name="q8_byChecking8[]" value="I am aware of the risks of having hair services during the pandemic.">
              <label id="label_input_8_0" for="input_8_0"> I am aware of the risks of having hair services during the pandemic. </label>
            </span>
            <span class="form-checkbox-item" style="clear:left">
              <span class="dragger-item">
              </span>
              <input type="checkbox" aria-describedby="label_8" class="form-checkbox" id="input_8_1" name="q8_byChecking8[]" value="I understand that physical distancing of 6 feet may not be possible while in the salon receiving services.">
              <label id="label_input_8_1" for="input_8_1"> I understand that physical distancing of 6 feet may not be possible while in the salon receiving services. </label>
            </span>
            <span class="form-checkbox-item" style="clear:left">
              <span class="dragger-item">
              </span>
              <input type="checkbox" aria-describedby="label_8" class="form-checkbox" id="input_8_2" name="q8_byChecking8[]" value="I will follow the rules in order to minimize the spread of viruses. I understand that I must sanitize my hands before entering the salon and I must wear a mask that covers my mouth and nose while in common areas.">
              <label id="label_input_8_2" for="input_8_2"> I will follow the rules in order to minimize the spread of viruses. I understand that I must sanitize my hands before entering the salon and I must wear a mask that covers my mouth and nose while in common areas. </label>
            </span>
            <span class="form-checkbox-item" style="clear:left">
              <span class="dragger-item">
              </span>
              <input type="checkbox" aria-describedby="label_8" class="form-checkbox" id="input_8_3" name="q8_byChecking8[]" value="I confirm that I have not travelled domestically or internationally via public transportation within 14 days.">
              <label id="label_input_8_3" for="input_8_3"> I confirm that I have not travelled domestically or internationally via public transportation within 14 days. </label>
            </span>
            <span class="form-checkbox-item" style="clear:left">
              <span class="dragger-item">
              </span>
              <input type="checkbox" aria-describedby="label_8" class="form-checkbox" id="input_8_4" name="q8_byChecking8[]" value="I do not have any of the following COVID-19 symptoms: cough, shortness of breath, high fever, muscle pain, body ache, nausea, loss of taste, loss of smell.">
              <label id="label_input_8_4" for="input_8_4"> I do not have any of the following COVID-19 symptoms: cough, shortness of breath, high fever, muscle pain, body ache, nausea, loss of taste, loss of smell. </label>
            </span>
            <span class="form-checkbox-item" style="clear:left">
              <span class="dragger-item">
              </span>
              <input type="checkbox" aria-describedby="label_8" class="form-checkbox" id="input_8_5" name="q8_byChecking8[]" value="I have not contacted with anyone that have or may have COVID-19 symptoms or get infected within past 14 days.">
              <label id="label_input_8_5" for="input_8_5"> I have not contacted with anyone that have or may have COVID-19 symptoms or get infected within past 14 days. </label>
            </span>
          </div>
        </div>
      </li>
      <li class="form-line" data-type="control_appointment" id="id_9">
        <label class="form-label form-label-top" id="label_9" for="input_9"> Appointment </label>
        <div id="cid_9" class="form-input-wide" data-layout="full">
          <div id="input_9" class="appointmentFieldWrapper jfQuestion-fields" data-breakpoint="shouldBreakIntoNewLine" data-breakpoint-offset="184">
            <input class="appointmentFieldInput " name="q9_appointment[date]" id="input_9_date">
            <input class="appointmentFieldInput" name="q9_appointment[duration]" value="60" id="input_9_duration">
            <input class="appointmentFieldInput" name="q9_appointment[timezone]" value="Europe/Istanbul (GMT+03:00)" id="input_9_timezone">
            <div class="appointmentField">
      <div class="appointmentFieldContainer">
        <div class="appointmentFieldRow forCalendar">
          <div class="calendar appointmentCalendar">
            <div class="appointmentCalendarContainer">
              
      <div class="selectedDate">
        <input class="currentDate" type="text" value="03/04/2022" style="pointer-events: none;">
      </div>
      
      <div class="monthYearPicker">
        <div class="pickerItem">
          <select class="pickerMonth" data-name="month">
            <option value="0">January</option><option value="1">February</option><option selected="" value="2">March</option><option value="3">April</option><option value="4">May</option><option value="5">June</option><option value="6">July</option><option value="7">August</option><option value="8">September</option><option value="9">October</option><option value="10">November</option><option value="11">December</option>
          </select>
          <button type="button" class="pickerArrow pickerMonthArrow prev" false="" value="1" data-name="month" aria-label="Previous month">
          </button>
          <button type="button" class="pickerArrow pickerMonthArrow next" value="3" data-name="month" aria-label="Next month">
          </button>
        </div>
        <div class="pickerItem">
          <select class="pickerYear" data-name="year">
            <option selected="">2022</option><option>2023</option><option>2024</option><option>2025</option><option>2026</option><option>2027</option><option>2028</option><option>2029</option><option>2030</option><option>2031</option><option>2032</option><option>2033</option><option>2034</option><option>2035</option><option>2036</option><option>2037</option><option>2038</option><option>2039</option><option>2040</option><option>2041</option>
          </select>
          <button type="button" class="pickerArrow pickerYearArrow prev" disabled="" value="2021" data-name="year" aria-label="Previous year">
          </button><button type="button" class="pickerArrow pickerYearArrow next" false="" value="2023" data-name="year" aria-label="Next year">
        </button></div>
      </div>
    
      <div class="appointmentCalendarDays days">
        <div class="daysOfWeek">
          <div class="dayOfWeek sunday">SUN</div><div class="dayOfWeek monday">MON</div><div class="dayOfWeek tuesday">TUE</div><div class="dayOfWeek wednesday">WED</div><div class="dayOfWeek thursday">THU</div><div class="dayOfWeek friday">FRI</div><div class="dayOfWeek saturday">SAT</div>
        </div>
        
      <div class="calendarWeek"><div class="calendarDay precedingDay empty"></div><div class="calendarDay precedingDay empty"></div><div class="calendarDay isUnavailable" data-value="2022-03-01" role="button" aria-disabled="true">
                        <span class="calendarDayEach">1</span>
                    </div><div class="calendarDay isUnavailable" data-value="2022-03-02" role="button" aria-disabled="true">
                        <span class="calendarDayEach">2</span>
                    </div><div class="calendarDay isUnavailable" data-value="2022-03-03" role="button" aria-disabled="true">
                        <span class="calendarDayEach">3</span>
                    </div><div class="calendarDay isToday isActive" data-value="2022-03-04" role="button" aria-disabled="false">
                        <span class="calendarDayEach">4</span>
                    </div><div class="calendarDay isUnavailable" data-value="2022-03-05" role="button" aria-disabled="true">
                        <span class="calendarDayEach">5</span>
                    </div></div><div class="calendarWeek"><div class="calendarDay isUnavailable" data-value="2022-03-06" role="button" aria-disabled="true">
                        <span class="calendarDayEach">6</span>
                    </div><div class="calendarDay " data-value="2022-03-07" role="button" aria-disabled="false">
                        <span class="calendarDayEach">7</span>
                    </div><div class="calendarDay " data-value="2022-03-08" role="button" aria-disabled="false">
                        <span class="calendarDayEach">8</span>
                    </div><div class="calendarDay " data-value="2022-03-09" role="button" aria-disabled="false">
                        <span class="calendarDayEach">9</span>
                    </div><div class="calendarDay " data-value="2022-03-10" role="button" aria-disabled="false">
                        <span class="calendarDayEach">10</span>
                    </div><div class="calendarDay " data-value="2022-03-11" role="button" aria-disabled="false">
                        <span class="calendarDayEach">11</span>
                    </div><div class="calendarDay isUnavailable" data-value="2022-03-12" role="button" aria-disabled="true">
                        <span class="calendarDayEach">12</span>
                    </div></div><div class="calendarWeek"><div class="calendarDay isUnavailable" data-value="2022-03-13" role="button" aria-disabled="true">
                        <span class="calendarDayEach">13</span>
                    </div><div class="calendarDay " data-value="2022-03-14" role="button" aria-disabled="false">
                        <span class="calendarDayEach">14</span>
                    </div><div class="calendarDay " data-value="2022-03-15" role="button" aria-disabled="false">
                        <span class="calendarDayEach">15</span>
                    </div><div class="calendarDay " data-value="2022-03-16" role="button" aria-disabled="false">
                        <span class="calendarDayEach">16</span>
                    </div><div class="calendarDay " data-value="2022-03-17" role="button" aria-disabled="false">
                        <span class="calendarDayEach">17</span>
                    </div><div class="calendarDay " data-value="2022-03-18" role="button" aria-disabled="false">
                        <span class="calendarDayEach">18</span>
                    </div><div class="calendarDay isUnavailable" data-value="2022-03-19" role="button" aria-disabled="true">
                        <span class="calendarDayEach">19</span>
                    </div></div><div class="calendarWeek"><div class="calendarDay isUnavailable" data-value="2022-03-20" role="button" aria-disabled="true">
                        <span class="calendarDayEach">20</span>
                    </div><div class="calendarDay " data-value="2022-03-21" role="button" aria-disabled="false">
                        <span class="calendarDayEach">21</span>
                    </div><div class="calendarDay " data-value="2022-03-22" role="button" aria-disabled="false">
                        <span class="calendarDayEach">22</span>
                    </div><div class="calendarDay " data-value="2022-03-23" role="button" aria-disabled="false">
                        <span class="calendarDayEach">23</span>
                    </div><div class="calendarDay " data-value="2022-03-24" role="button" aria-disabled="false">
                        <span class="calendarDayEach">24</span>
                    </div><div class="calendarDay " data-value="2022-03-25" role="button" aria-disabled="false">
                        <span class="calendarDayEach">25</span>
                    </div><div class="calendarDay isUnavailable" data-value="2022-03-26" role="button" aria-disabled="true">
                        <span class="calendarDayEach">26</span>
                    </div></div><div class="calendarWeek"><div class="calendarDay isUnavailable" data-value="2022-03-27" role="button" aria-disabled="true">
                        <span class="calendarDayEach">27</span>
                    </div><div class="calendarDay " data-value="2022-03-28" role="button" aria-disabled="false">
                        <span class="calendarDayEach">28</span>
                    </div><div class="calendarDay " data-value="2022-03-29" role="button" aria-disabled="false">
                        <span class="calendarDayEach">29</span>
                    </div><div class="calendarDay " data-value="2022-03-30" role="button" aria-disabled="false">
                        <span class="calendarDayEach">30</span>
                    </div><div class="calendarDay " data-value="2022-03-31" role="button" aria-disabled="false">
                        <span class="calendarDayEach">31</span>
                    </div><div class="calendarDay trailingDay empty"></div><div class="calendarDay trailingDay empty"></div></div>
    
      </div>
    
            </div>
          </div>
          <div class="appointmentDates">
            <div class="appointmentDateSelect">
              
      <div class="appointmentDate">
        Friday, March 04
      </div>
    
              
      <div class="appointmentDayPicker dayPicker">
        <button type="button" class="appointmentDayPickerButton prev" data-value="2022-02-28" aria-label="Previous day">&lt;</button>
        <button type="button" class="appointmentDayPickerButton next" data-value="2022-03-07" aria-label="Next day">&gt;</button>
      </div>
    
            </div>
            <div class="appointmentSlots slots ">
              <div class="appointmentSlotsContainer">
                <div class="appointmentSlot slot " data-value="2022-03-04 2:00 PM" role="button">2:00 PM</div><div class="appointmentSlot slot " data-value="2022-03-04 3:00 PM" role="button">3:00 PM</div><div class="appointmentSlot slot " data-value="2022-03-04 4:00 PM" role="button">4:00 PM</div><div class="appointmentSlot slot " data-value="2022-03-04 7:00 PM" role="button">7:00 PM</div><div class="appointmentSlot slot " data-value="2022-03-04 8:00 PM" role="button">8:00 PM</div><div class="appointmentSlot slot " data-value="2022-03-04 9:00 PM" role="button">9:00 PM</div>
              </div>
            </div>
            <div class="appointmentCalendarTimezone forTimezonePicker">
      <div class="jDropdownWG">
        
    <div id="jDropdownWG-toggler-input_9" class="jDropdownWG-dropdown-toggler ">
      <span class="city-time">Asia/Kuala Lumpur (00:42 AM)</span>
    </div>
        
      </div>
    </div>
          </div>
        </div>
        
      </div>
    </div>
          </div>
        </div>
      </li>
      <li class="form-line" data-type="control_text" id="id_10">
        <div id="cid_10" class="form-input-wide" data-layout="full">
          <div id="text_10" class="form-html" data-component="text">
            <p>I verify that the information I have provided on this form is truthful and accurate. I have read, understand, and checked all the terms and conditions. I release the beauty studio, stylists, officials, workers, stakeholders, members, and all of the parties related to&nbsp;the&nbsp;beauty studio from any and all of the claims and demands including damages, diseases, and or injuries.</p>
          </div>
        </div>
      </li>
      <li class="form-line" data-type="control_datetime" id="id_12">
        <label class="form-label form-label-top form-label-auto" id="label_12" for="lite_mode_12"> Date </label>
        <div id="cid_12" class="form-input-wide" data-layout="half">
          <div data-wrapper-react="true">
            <div style="display:none">
              <span class="form-sub-label-container" style="vertical-align:top">
                <input type="tel" class="form-textbox validate[limitDate]" id="month_12" name="q12_date[month]" size="2" data-maxlength="2" data-age="" maxlength="2" value="" autocomplete="section-input_12 off" aria-labelledby="label_12 sublabel_12_month" inputmode="numeric">
                <span class="date-separate" aria-hidden="true">
                  &nbsp;-
                </span>
                <label class="form-sub-label" for="month_12" id="sublabel_12_month" style="min-height:13px" aria-hidden="false"> Month </label>
              </span>
              <span class="form-sub-label-container" style="vertical-align:top">
                <input type="tel" class="form-textbox validate[limitDate]" id="day_12" name="q12_date[day]" size="2" data-maxlength="2" data-age="" maxlength="2" value="" autocomplete="section-input_12 off" aria-labelledby="label_12 sublabel_12_day" inputmode="numeric">
                <span class="date-separate" aria-hidden="true">
                  &nbsp;-
                </span>
                <label class="form-sub-label" for="day_12" id="sublabel_12_day" style="min-height:13px" aria-hidden="false"> Day </label>
              </span>
              <span class="form-sub-label-container" style="vertical-align:top">
                <input type="tel" class="form-textbox validate[limitDate]" id="year_12" name="q12_date[year]" size="4" data-maxlength="4" data-age="" maxlength="4" value="" autocomplete="section-input_12 off" aria-labelledby="label_12 sublabel_12_year">
                <label class="form-sub-label" for="year_12" id="sublabel_12_year" style="min-height:13px" aria-hidden="false"> Year </label>
              </span>
            </div>
            <span class="form-sub-label-container" style="vertical-align:top">
              <input type="text" class="form-textbox validate[limitDate, validateLiteDate]" id="lite_mode_12" size="12" data-maxlength="12" maxlength="12" data-age="" value="" data-format="mmddyyyy" data-seperator="-" placeholder="MM-DD-YYYY" autocomplete="section-input_12 off" aria-labelledby="label_12 sublabel_12_litemode" inputmode="numeric">
              <img class=" newDefaultTheme-dateIcon icon-liteMode" alt="Pick a Date" id="input_12_pick" src="https://cdn.jotfor.ms/images/calendar.png" data-component="datetime" aria-hidden="true" data-allow-time="No" data-version="v2">
              <label class="form-sub-label" for="lite_mode_12" id="sublabel_12_litemode" style="min-height:13px" aria-hidden="false"> Date </label>
            </span>
          </div>
        </div>
      </li>
      <li class="form-line" data-type="control_signature" id="id_11">
        <label class="form-label form-label-top form-label-auto" id="label_11" for="input_11"> Client Signature </label>
        <div id="cid_11" class="form-input-wide" data-layout="half">
          <div data-wrapper-react="true">
            <div id="signature_pad_11" class="signature-pad-wrapper" style="width:312px;height:116px">
              <div data-wrapper-react="true">
              [if IE 7]>
                  <script type="text/javascript" src="/js/vendor/json2.js"></script>
                <![endif]
              </div>
              <div class="signature-line signature-wrapper signature-placeholder" data-component="signature" style="width:312px;height:116px">
                <div id="sig_pad_11" data-width="310" data-height="114" data-id="11" data-required="false" class="pad " aria-labelledby="label_11" style="width: 240px; height: 114px;">
                <div style="padding:0; margin:0;width: 100%; height: 0; -ms-touch-action: none; touch-action: none;margin-top:-1em; margin-bottom:1em"></div><canvas class="jSignature" width="238" style="margin: 0px; padding: 0px; height: 114px; width: 240px; touch-action: none;" height="114" role="application" aria-label="E-Signature Field" tabindex="0"></canvas><div style="padding:0; margin:0;width: 100%; height: 0; -ms-touch-action: none; touch-action: none;margin-top:-1.5em; margin-bottom:1.5em; position: relative;"></div></div>
                <input type="hidden" name="q11_clientSignature" class="output4" id="input_11">
              </div>
              <span class="clear-pad-btn clear-pad" role="button" tabindex="0">
                Clear
              </span>
            </div>
            <div data-wrapper-react="true">
              <script type="text/javascript">
              window.signatureForm = true
              </script>
            </div>
          </div>
        </div>
      </li>
      <li class="form-line" data-type="control_button" id="id_2">
        <div id="cid_2" class="form-input-wide" data-layout="full">
          <div data-align="auto" class="form-buttons-wrapper form-buttons-auto   jsTest-button-wrapperField">
            <button id="input_scl_2" type="button" class="form-submit-button form-sacl-button js-new-sacl-button  jf-form-buttons " data-component="button">
              Save
            </button>
            <button id="input_2" type="submit" class="form-submit-button submit-button jf-form-buttons jsTest-submitField" data-component="button" data-content="">
              Submit
            </button>
          </div>
        </div>
      </li>
      <li style="display:none">
        Should be Empty:
        <input type="text" name="website" value="">
      </li>
    </ul>
  </div>
  <input type="hidden" class="simple_spc" id="simple_spc" name="simple_spc" value="220545102598050-220545102598050">
  <script type="text/javascript">
  var all_spc = document.querySelectorAll("form[id='220545102598050'] .si" + "mple" + "_spc");
for (var i = 0; i < all_spc.length; i++)
{
  all_spc[i].value = "220545102598050-220545102598050";
}
  </script>
<input type="hidden" name="embedUrl" value="https://www.jotform.com/app/220545079120448/220545102598050"><input type="hidden" name="jotform_pwa" value="1"><input type="hidden" name="pwa_id" value="220545079120448"><input type="hidden" name="pwa_isPWA" value="false"><input type="hidden" name="pwa_device" value="desktop"><input type="hidden" name="event_id" value="1646325644787_220545102598050_a0tYSZ6"></form> -->
