
  <ion-header>
    <ion-toolbar color="favorite">
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title class="ion-text-center">Payment</ion-title>
    </ion-toolbar>
  
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-header>

  <ion-content [fullscreen]="true">
  <ion-fab vertical="bottom" horizontol="end" slot="fixed">
    <ion-fab-button href="https://t.me/tiqah1111 ">
      <ion-icon name="paper-plane-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <!-- https://t.me/tiqah1111 -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Atiqah MakeUp Studio</ion-card-title>
      <img src="assets/studio.png">
      <p>Learning everyday</p>
    </ion-card-header>
  </ion-card>

   <ion-card>
     <p><b>Payment Method</b></p>
     <p>Name:AtiqahStudio.sdn.bhd</p>
    <p>Bank Name:Maybank</p>
    <p>No Account:<b>1621799277648</b></p>
    <p>Kindly make a payment two weeks before:the appointment date</p>
    <p><b>Please submit the payment receipt in our Telegram</b></p>
    </ion-card>

    <ion-card>
    <p>For more details please contact</p>
    <p>018-345-9076-Aliyah</p>
    </ion-card>
  </ion-content>