<ion-header>
  
</ion-header>
<ion-content>
 
    <ion-slides pager="true">
   
      <ion-slide>
        <img src="/assets/m2.jpeg" alt="">
  
      </ion-slide>
      <ion-slide>
        <img src="/assets/m3.jpeg" alt="">
      </ion-slide>
       <ion-slide>
        <img src="/assets/m1.jpeg" alt="">
    
       </ion-slide>
       <ion-slide>
      <img src="/assets/m2.jpeg" alt="">
      </ion-slide>
  </ion-slides>
  <ion-button [routerLink]="['/login']">
      <ion-icon name="arrow-forward-outline"></ion-icon>

  </ion-button>
</ion-content>